.hero {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: white;
}

.left {
  /* width: 556px; */
  /* height: 100px; */
  font-size: 1em;
}


/* ---------------- */

/* .hero {
  background-color: black;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: white;
}

.left{
  width: 556px;
  height: 100px;
} */
